.carousel-item img{
    width: 300px;
    height: 450px;
}

.formulario-buscar {
    width: 660px;
    padding: 16px;
    border-radius: 50px;
    margin: auto;
    background: #FBEEE6;
}

.form-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
}
    .barra-menu{
    display: inline-block !important;
    right: 551px !important;
    }
    .caja-login {
    padding: 8px;
    }
   .login-tienda{
    padding: 19px;
    margin: auto;
    width: 206px;
    display: inline-block;
    left: 15%;
    }
    .menu-ajuste{
        top:198px !important;
    }
    .hdLinksCms {
     background: #E07B3E;  
    /*background: #ececec;*/
    }
    .clearfix {
    zoom: 1;
    }
    .pas{
    padding:5px 5px 5px 5px;
    }
    .wrapper-r {
    margin: 0 auto;
    width: 960px;
    position: relative;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
    }
    .lfloat {
    float: left;
    }
    .hdLinksCms li {
    float: left;
    margin-right: 10px;
     }
     .txtDark {
    color: #000;
     }
     .hdLinksCms li a {
    font-size: 11px;
    color: #858585;
     }
     .hdLinksCms li .icon {
    vertical-align: middle;
    margin-right: 5px;
    }
     .container-head{
         width: 108%;
     }
     .nav-centro{
     margin-left: 395px;
     width: 100%;
     }
     
     div .link-logo{
     font-family: 'Anton', sans-serif;
     width: 100%;
     left: 100px;
     }
     .boton-registro{
         background:#946345 !important;
         border-color: #FEF9F6 !important;
     }
     .boton-ingreso{
         background: #A08676 !important;
         border-color: #FEF9F6 !important;
     }
     .boton-buscar{
          background: #F5CBA7 !important;
          color: #000;
          border-color: #F8F5F3 !important;
     }
     .nav-item a{
         color: #171616 !important;
     }

     form {
    width: 89%;
    padding: 25px;
    margin: auto;
    border-radius: 10px;
    background:#F7CFB6;
    display: block;
}
.div_form{
    margin-bottom: .9em;
    position: relative;
}
label{
    display: block;
    cursor: pointer;
}
.label-float{
    float: left;
}
.label-size{
    width: 33.33333%;
}
.mtm{
   margin-top: 10px;
}
.requerido{
    color:#d02700;
}
input [type=text],[type=text],[type=email],[type=password],[type=number],[type=date]{
    height: 40px;
    width: 100%;
    padding: 3px 10px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background: #f6f6f6;
    margin: 8px 0;
    display: inline-block;
}
 input[type=submit]{
        width: 100%;
        padding: 11px 18px;
        margin-top: 32px;
        border: 3px solid #F99A60;
        border-radius: 23px;
        background: #F99050;
        margin: 8px 0;
        display: block;
        cursor: pointer;
    }

  input [type=text],[type=date]{
    height: 40px;
    width: 100%;
    padding: 3px 10px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background: #f6f6f6;
    margin: 8px 0;
    display: block;
  }
    
    .input-size{
        width: 66.66667%;
    }
    .input-size1{
        width: 50%;
    }
    .label-float-rigth{
        float: right;
    }
    .mlm{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: -26px;

    }
    .documento-size{
        width: 66.66667%;
    }
    .div-70{
        width: 67%;
        margin-left: 54px;
        position: relative;
    }
    select{
        padding: 5px 10px;
        float: top;
    }
    .select-td{
        width: 100%;
        height: 40px;
        padding: 3px 10px;
        border: 1px solid #f6f6f6;
        border-radius: 3px;
        background: #f6f6f6;
        display: block;
        position: relative;
    }
    .wg32{
        width: 100%;
    }
    .mrs{
        margin-right: 5px;
    }
    .prn{
        padding-right: 0;
        margin-left: 0px;
        margin-top: 8px;
    }
    .pto{
        margin-bottom: 52px;
        margin-top: 5px;
    }
    .titulo-registro{
        font-size: 14px;
        text-transform: uppercase;
    }
    .brb{
    border-bottom: 1px solid #DDD;
    }
   