    .formulario-buscar{
        width: 400px;
        padding: 16px;
        border-radius: 10px;
        margin: auto;
        background: #ccc;
    }

   .slider-img {
     width: 1108px !important;
     height: 350px !important;
    }